.settings
*.class
*.jar
*.csv
*.docx
*.doc
bin
miller.c
*.log
*.log.*
lib
*.xls
*.xlsx
*.config
*.txt
*.config
.classpath
.project
*.sh
*.bat
*.ini
*.temp
srcCopy/*
TestFiles/*
!license.txt
!LGPL.txt


