#JitterDot.config Used to set up options for JitterDot location anonymizer.
#Output
InterspreadPlus=False
NAADSM=True

#Jittering
MinK=5
MinGroup=5

#Geography
UTMZone=17N
States=South Carolina

#Field Mappings
OriginalKey=UnitID
Latitude=Lat
Longitude=Lon
Animals=UnitSize
Houses=Houses
AnimalType=ProductionType
Integrator=Integrator
Status=Status
DaysInState=DaysInStat
DaysLeftInState=DaysLeftIn

#OriginalKey=PremiseKey
#Latitude=Latitude
#Longitude=Longitude
#Animals=Animals
#Houses=Houses
#AnimalType=AnimalType
#Integrator=Integrator
#Status=Status
#DaysInState=DaysInState
#DaysLeftInState=DaysLeftInState

#Configuration of Logging.  This is pretty simple at this point and not often edited
#    by users.  The main change would be the rootLogger level changed from info to error
#    prior to distribution.  May also remove the stdout appender.
#log4j.rootLogger=info, stdout, R
log4j.rootLogger=error,R

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout

# Pattern to output the caller's file name and line number.
log4j.appender.stdout.layout.ConversionPattern=%5p [%t] (%F:%L) - %m%n

log4j.appender.R=org.apache.log4j.RollingFileAppender
log4j.appender.R.File=JitterDot.log

log4j.appender.R.MaxFileSize=100KB
# Keep one backup file
log4j.appender.R.MaxBackupIndex=1

log4j.appender.R.layout=org.apache.log4j.PatternLayout
log4j.appender.R.layout.ConversionPattern=%p %t %c - %m%n
