#JitterDot.config Used to set up options for JitterDot location anonymizer.
#Output
NAADSM=True
InterspreadPlus=True

#Jittering 
MinK=5
MinGroup=5

#Geography
States=South Carolina
UTMZone=17N

#Field Mappings
OriginalKey=HerdID
Latitude=Lat
Longitude=Lon
Animals=HerdSize
AnimalType=AnimalType
Status=Status
DaysInState=DaysInState
DaysLeftInState=DaysLeftInState
Integrator=Integrator


#OriginalKey=PremiseKey
#Latitude=Latitude
#Longitude=Longitude
#Animals=Animals
#Houses=Houses
#AnimalType=AnimalType
#Integrator=Integrator
#Status=Status
#DaysInState=DaysInState
#DaysLeftInState=DaysLeftInState

#Log4J Settings.  
#Logging
log4j.rootLogger=info,stdout,R

#Additional Log4J settings, not UI editable.
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout

# Pattern to output the caller's file name and line number.
log4j.appender.stdout.layout.ConversionPattern=%5p %d{dd-MMM-yyyy HH:mm:ss} (%F:%L) - %m%n

log4j.appender.R=org.apache.log4j.RollingFileAppender
log4j.appender.R.File=JitterDot.log

log4j.appender.R.MaxFileSize=100KB
# Keep one backup file
log4j.appender.R.MaxBackupIndex=1

log4j.appender.R.layout=org.apache.log4j.PatternLayout
log4j.appender.R.layout.ConversionPattern=%5p %d{dd MMM-yyyy-HH:mm:ss} (%F:%L) - %m%n
